body 
{
    color: wheat;

}
#HeaderID
{
    color: coral;
    font-size: 80px;
    text-align: center;
    padding: 10px;

}

#LIST
{
    color: slategray;
    font-size: 25px;
    float: left;
    padding-bottom: 50px;
    padding-left: 155px;
    margin-left: 35px;
    font-weight: bolder;
}

nav 
{
    
    font: 35px;
    text-align: right;
    float: right;
}

nav ul
{
    list-style: none;
}

nav ul li
{
    display: inline-block;
}

nav ul li a
{
    color: slategrey;
    text-decoration: none;
    text-decoration-line: none;
    padding-left: 20px;
    list-style: none;
    padding-bottom: 50px;
    font-size: 25px;
}

nav ul li a:hover
{
    text-decoration: none;
    color: red;
}

#IFRAME
{
    color: slategrey;
    text-align: left;
    font-size: 30px;
    padding-right: 300px;
    border: 30px solid salmon;
    border-radius: 30px;
    
}

#image
{
    min-width: 30px;
    max-width: 150px;
}

#a1
{
    color: navy;
    font-weight: bold;
}

#as1
{
    border-width: thick;
    border-style: dotted;
    border-color: seagreen;
    color: navy;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 50px;
    border-spacing: 50px;
}

#one
{
    font-size: 30px;
    max-height: 300px;
    max-width: 150px;
    color: red;
    overflow: hidden;

}

#two
{
    font-size: 30px;
    max-height: 300px;
    max-width: 150px;
    color: purple;
    overflow: scroll;

}